<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <title>{{ material_info.company_code }} - {{ material_info.spoken_at.strftime('%Y/%m/%d %H:%M:%S') }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container table-responsive">
    <table class="table">
        <tr>
            <th class="table-primary">發言日期</th>
            <td colspan="2">{{ material_info.spoken_roc_date }}</td>
            <th class="table-primary">發言時間</th>
            <td colspan="2">{{ material_info.spoken_at.strftime('%H:%M:%S') }}</td>
        </tr>
        <tr>
            <th class="table-primary">發言人</th>
            <td>{{ material_info.speaker }}</td>
            <th class="table-primary">發言人職稱</th>
            <td>{{ material_info.speaker_title }}</td>
            <th class="table-primary">發言人電話</th>
            <td>{{ material_info.speaker_phone }}</td>
        </tr>
        <tr>
            <th class="table-primary">主旨</th>
            <td colspan="5">{{ material_info.title }}</td>
        </tr>
        <tr>
            <th class="table-primary">符合條款</th>
            <td colspan="2">{{ material_info.terms }}</td>
            <th class="table-primary">事實發生日</th>
            <td colspan="2">{{ material_info.fact_roc_date }}</td>
        </tr>
        <tr>
            <th class="table-primary">說明</th>
            <td colspan="5">{{ material_info.content.replace('\n', '<br/>')|safe }}</td>
        </tr>
    </table>
</div>
</body>
</html>